@charset "UTF-8";
/**** LIB (Bibliothèques) ****/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/**** utilitaires ****/
/**
 * @author
 * @todo Personnaliser les variables
**/
/** Polices de caractères **/
/** Palette de couleurs **/
/** Points de rupture **/
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* smartphones, Android phones, landscape iPhone */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
/* tablet, landscape iPad, lo-res laptops ands desktops */
/* big landscape tablets, laptops, and desktops */
/* hi-res laptops and desktops */
/**
 * ----------------------------
 * TABLE DES MATIÈRES - MIXINS
 * ----------------------------
 * base (BoxSizing, Clearfix)
 * accessibilité
 * typographie
 *
 */
/******** Utilitaires de base (BoxSizing, Clearfix) *********/
/* BoxSizing */
/* Clearfix: pour contrer le problème des enfants flottants*/
/******** Utilitaires pour accessibilité *********/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/******** Utilitaires pour typographie *********/
/**** base (typo) ****/
* {
  box-sizing: border-box; }

@font-face {
  font-family: VT323;
  src: url(../../assets/fonts/VT323-Regular.ttf); }
@font-face {
  font-family: RobotoMono-Regular;
  src: url(../../assets/fonts/RobotoMono-Regular.ttf); }
/* Règles générales */
.conteneur {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: RobotoMono-Regular; }
  .conteneur:after {
    content: " ";
    display: table;
    clear: both; }

.choixReponses, .question {
  font-family: VT323; }

body {
  background-color: black; }

.background {
  background-image: url("../images/grid.jpg");
  background-position: top;
  background-size: cover; }

.banner {
  text-align: center;
  color: deeppink;
  margin-bottom: 20px; }
  .banner .title {
    font-size: 3em;
    text-decoration: underline;
    margin-bottom: 0; }
  .banner .subtitle {
    margin: 0;
    font-size: 1.5em;
    color: #cd147f; }

.intro {
  color: white; }
  .intro a {
    color: deeppink; }

.question {
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
  margin-left: 6.7796610169%;
  margin-right: 6.7796610169%;
  background-color: rgba(0, 0, 100, 0.8);
  margin-bottom: 30px; }
  .question .question__label, .question .question__numero, .question .question__question {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0; }
  .question .question__label {
    font-size: 3em;
    padding-top: 50px; }
  .question .question__numero {
    font-size: 6em;
    text-decoration: underline; }
  .question .question__group {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px; }
    .question .question__group .question__question {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 2em;
      width: 74.5762711864%;
      vertical-align: top; }
    .question .question__group .imgQuestion {
      display: inline-block;
      width: 23.7288135593%;
      border: 5px solid white; }

.reponses {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 6.7796610169%;
  margin-right: 6.7796610169%;
  background-color: rgba(0, 0, 100, 0.8);
  color: white;
  font-family: VT323; }

.reponses__label {
  margin: 0;
  font-size: 3em;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px; }

.choixReponses {
  list-style: none;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center; }
  .choixReponses li {
    display: inline-block;
    width: 100%; }
  .choixReponses .blocReponse {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white; }
    .choixReponses .blocReponse img {
      display: block;
      width: 100%;
      border: 5px solid white; }
    .choixReponses .blocReponse label {
      display: block;
      padding: 20px; }
    .choixReponses .blocReponse label:hover {
      background-color: rgba(255, 130, 255, 0.4); }
    .choixReponses .blocReponse input {
      display: none; }
    .choixReponses .blocReponse input:checked + label {
      padding: 10px;
      border: 5px solid white;
      background-color: rgba(255, 130, 255, 0.4); }

div.retroaction {
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left; }
  div.retroaction .retroaction__info, div.retroaction .retroaction__titre, div.retroaction .retroaction__progression {
    font-size: 2em;
    margin: 0; }
  div.retroaction .retroaction__titre {
    font-size: 3em; }
  div.retroaction .bonneReponse {
    color: lightgreen; }
  div.retroaction .mauvaiseReponse {
    color: lightcoral; }
  div.retroaction .bonneReponse, div.retroaction .mauvaiseReponse {
    padding-top: 20px;
    padding-bottom: 30px; }
  div.retroaction .bonneReponse + .retroaction__info, div.retroaction .mauvaiseReponse + .retroaction__info {
    padding-bottom: 20px; }
  div.retroaction .retroaction__info {
    font-size: 1.5em; }

.btnProgression {
  margin-top: 20px;
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  font-family: VT323;
  font-size: 2em; }

.btnProgression:hover {
  background-color: #5479e6; }

.btnJS, .btnValider {
  margin-left: 6.7796610169%;
  margin-right: 6.7796610169%;
  margin-bottom: 20px;
  text-align: center; }

.btnHide {
  margin-top: 20px;
  width: 100%;
  background-color: darkgray;
  color: white;
  border: none;
  padding: 10px;
  font-family: VT323;
  font-size: 2em; }

footer {
  color: white; }

@media (max-width: 480px) {
  .question .question__label {
    width: 100%;
    font-size: 3em;
    padding-top: 50px;
    text-align: center; }
  .question .question__group .question__question {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 2em;
    width: 100%;
    vertical-align: top; }
  .question .question__group .imgQuestion {
    width: 100%;
    display: inline-block;
    border: 5px solid white; }

  .reponses__label {
    text-align: center; }

  .choixReponses {
    display: inline-block;
    list-style: none;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0; }
    .choixReponses li {
      display: inline-block;
      width: 66.1016949153%; }
    .choixReponses .blocReponse {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%; } }

/*# sourceMappingURL=styles.css.map */
