# fichiers cachés ou temporaires de Mac OS
.DS_Store
~*
Icon?

# dossier de réglages de PHPStorm
.idea/
web/node_modules/
vendor/
.env

# dossier de cache de sass
.sass-cache/

web/bower_components/animate.css/
web/bower_components/animate.min.css/
web/bower_components/normalize-scss/
web/bower_components/susy/